[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pyteomics = "*"
sklearn = "*"
seaborn = "*"
matplotlib = "3.2"

[dev-packages]
twine = "*"
ipython = "*"
pytest = "*"
pytest-pep8 = "*"
pytest-sugar = "*"
flake8 = "*"
pytest-flake8 = "*"
pytest-cov = "*"
pytest-pydocstyle = "*"